            executor = 'slurm'
            queueSize = 196
            submitRateLimit = '5 sec'
            cache = 'lenient'
		
            // Update amount of max retries and set "retry" as the error strategy for all error codes
            errorStrategy = 'retry'
            maxRetries = 3
            maxErrors = '-1'

            // General resource requirements
            queue = { task.memory <= 101.GB ? 'pe2' : 'bigmem' }
            cpus   = { 8        * task.attempt }
            memory = { 48.GB     * task.attempt }
            time   = { 30.h      * task.attempt }

            // Process-specific resource requirements
            
            withLabel:process_single {
                  cpus   = { check_max( 1                  , 'cpus'    ) }
                  memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
                  time   = { check_max( 4.h  * task.attempt, 'time'    ) }
            }
            withLabel:process_low {
                  cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
                  memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
                  time   = { check_max( 4.h   * task.attempt, 'time'    ) }
            }
            withLabel:process_medium {
                  cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
                  memory = { check_max( 48.GB * task.attempt, 'memory'  ) }
                  time   = { check_max( 8.h   * task.attempt, 'time'    ) }
            }
            withLabel:process_medium_high {
                  cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
                  memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
                  time   = { check_max( 8.h   * task.attempt, 'time'    ) }
            }
            withLabel:process_high {
                  cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
                  memory = { check_max( 200.GB * task.attempt, 'memory'  ) }
                  time   = { check_max( 16.h  * task.attempt, 'time'    ) }
            }
            withLabel:process_long {
                  time   = { check_max( 20.h  * task.attempt, 'time'    ) }
            }
            withLabel:process_long_high_memory {
                  memory = { check_max( 200.GB * task.attempt, 'memory' ) }
                  time   = { check_max( 72.h  * task.attempt, 'time'    ) }
                  cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
                  
            }

            params {
            max_memory = 3000.GB
            max_cpus = 96
            max_time = 14.d
            }
            
            
            
            // Process-specific containers requirements
            
            withName:FastQC_pretrim {
                  container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
            }
            
            withName:trim_adapters {
                  container = 'https://depot.galaxyproject.org/singularity/trim-galore:0.6.9--hdfd78af_0'
            }
            
            withName:FastQC_postrim {
            container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
            }
           
           withName:Genome_Generate {
            label  = 'process_medium_high'
            container = 'https://depot.galaxyproject.org/singularity/star:2.7.11b--h43eeafb_1'
            }            
            
            withName:STAR_align {
            label  = 'process_long_high_memory'
            container = 'https://depot.galaxyproject.org/singularity/star:2.7.11b--h43eeafb_1'
            }

            withName:CollectMultipleMetrics {
                  container = 'https://depot.galaxyproject.org/singularity/picard:3.1.1--hdfd78af_0'
            }

            withName:Samtools_Flagstat {
                  container = 'https://depot.galaxyproject.org/singularity/samtools:1.18--hd87286a_0'             
            }

            withName:Mark_Duplicates {
                  container = 'https://depot.galaxyproject.org/singularity/picard:3.1.1--hdfd78af_0'
            }

            withName:Removing_Blacklisted_Regions {
                  container = 'https://depot.galaxyproject.org/singularity/bedtools:2.31.1--hf5e1c6e_0'
            }

            withName:Post_Alignment_Filtering {
                  container = 'https://depot.galaxyproject.org/singularity/mulled-v2-0560a8046fc82aa4338588eca29ff18edab2c5aa:5687a7da26983502d0a8a9a6b05ed727c740ddc4-0'
            }
            withName:Remove_Orphans {
            container = 'https://depot.galaxyproject.org/singularity/mulled-v2-57736af1eb98c01010848572c9fec9fff6ffaafd:402e865b8f6af2f3e58c6fc8d57127ff0144b2c7-0'     
            }
            withName:Bam_Index {
                  container = 'https://depot.galaxyproject.org/singularity/samtools:1.18--hd87286a_0'             
            }            
            withName:Shift_Alignment {
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:Index_Shifted_Bam {
                  container = 'https://depot.galaxyproject.org/singularity/mulled-v2-0560a8046fc82aa4338588eca29ff18edab2c5aa:5687a7da26983502d0a8a9a6b05ed727c740ddc4-0'
            }            
            withName:MACS3_Peakcall {
                  container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.1--py310h1af8fb7_3'
            }
            withName:MACS2_Peakcall_1 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.1--py310h1af8fb7_3'
            }
            withName:MACS2_Peakcall_2 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.1--py310h1af8fb7_3'
            }
            withName:MACS2_Peakcall_3 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.1--py310h1af8fb7_3'
            }            
            withName:Genomecoverage {
                  container = 'https://depot.galaxyproject.org/singularity/bedtools:2.31.1--hf5e1c6e_0'
            }
            withName:Fingerprint_profile {
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:BedGraphToBigWig {
                  container = 'https://depot.galaxyproject.org/singularity/ucsc-bedgraphtobigwig:445--h954228d_0'
            }
            withName:BedGraphToBigWig_2 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/ucsc-bedgraphtobigwig:445--h954228d_0'
            }
            withName:Deeptools_QC_Scaled_Regions {
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:Deeptools_QC_Scaled_Regions_2 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:Deeptools_QC_Reference {
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:Deeptools_QC_Reference_2 {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
            }
            withName:MergeBams {
                  label  = 'process_high'
                  container = 'https://depot.galaxyproject.org/singularity/mulled-v2-0560a8046fc82aa4338588eca29ff18edab2c5aa:5687a7da26983502d0a8a9a6b05ed727c740ddc4-0'             
            }
            withName:Sort_Index {
                  label  = 'process_high_memory'
                  container = 'https://depot.galaxyproject.org/singularity/samtools:1.18--hd87286a_0'               
            }
             withName:Calculate_FRIP_1 {
                  container = 'https://depot.galaxyproject.org/singularity/mulled-v2-b0664646864bfdb46c5343b1b2b93fc05adb4b77%3A39a005770a3e30fb6aa3bf424b57ddf52bae7ece-0'
            }
            withName:Calculate_FRIP_2 {
                  label  = 'process_high_memory'
                  container ='https://depot.galaxyproject.org/singularity/mulled-v2-b0664646864bfdb46c5343b1b2b93fc05adb4b77%3A39a005770a3e30fb6aa3bf424b57ddf52bae7ece-0'
            }
            withName:Annotate_peaks_1 {
                  container = 'https://depot.galaxyproject.org/singularity/homer:4.11--pl526hc9558a2_3'
            }
            withName:Annotate_peaks_2 {
            container = 'https://depot.galaxyproject.org/singularity/homer:4.11--pl526hc9558a2_3'
            }

            withName:Consensus_peaks{
            label= 'process_high'      
            container = 'https://depot.galaxyproject.org/singularity/mulled-v2-2f48cc59b03027e31ead6d383fe1b8057785dd24:5d182f583f4696f4c4d9f3be93052811b383341f-0'     
            }
            withName:Get_unique_peaks{
            container = 'https://depot.galaxyproject.org/singularity/pandas:0.23.4--py36hf8a1672_0'     
            }
            withName:Pad_peaks{
            label  = 'process_medium_high'
            container = 'https://depot.galaxyproject.org/singularity/bioconductor-chromvar:1.24.0--r43hf17093f_0'     
            }

            withName:Feature_Counts {
            container = 'https://depot.galaxyproject.org/singularity/subread:2.0.1--hed695b0_0'     
            }

            withName:Feature_Counts_merged {
            label  = 'process_high_memory'
            container = 'https://depot.galaxyproject.org/singularity/subread:2.0.1--hed695b0_0'     
            }
            
            withName:IGV_session {
            container = 'https://depot.galaxyproject.org/singularity/python:3.8.3'     
            }
            

            withName:Consensus_peaks{
            container = 'https://depot.galaxyproject.org/singularity/mulled-v2-2f48cc59b03027e31ead6d383fe1b8057785dd24:5d182f583f4696f4c4d9f3be93052811b383341f-0'     
            }
            withName:BAM_to_BED {
            container = 'https://depot.galaxyproject.org/singularity/bedtools:2.31.1--hf5e1c6e_0'
            }

      
            withName:Annotate_peaks_QC {
            container = 'https://depot.galaxyproject.org/singularity/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'
            }

            
      }

singularityDir = "${HOME}/.singularity/singularity_images_nextflow"
workDir="/gpfs/commons/groups/lappalainen_lab/mmatos/cd4_aging_project/data/ATAC-seq/atac_preprocessing/nextflow_tmp"

singularity {
      enabled = true
      autoMounts = true
      cacheDir= singularityDir
}

conda {
    enabled=true
}